bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

# Dependency directory
/node_modules

# Ignore built ts files
dist/**/*

/tools/NuGet.exe
/App_Data
/secrets
/data
.vscode
appsettings.json

